.carousel {
  width: 50%;
  display: block;
  margin-top: 100px;
  margin: 0 auto;
  position: relative;
  padding-top: 35%;
}
.carousel .slide {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100px;
  opacity: 0;
  width: 100%;
}
.slide.fadeInOut {
    webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.carousel .slide h1 {
  position: absolute;
  color: white;
}
.carousel .slide img {
  width: 100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.arrow-left, .arrow-right {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  
}
.arrow-left {
  left: 0%;
  top: 50%;
}
.arrow-right {
  right: 0%;
  top: 50%;
}

