.carousel {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.carousel .slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
}
/*
.carousel .slide.one img {
  height: 1100px;
}
.carousel .slide.two img {
  height: 1000px;
}
.carousel .slide.three img {
  height: 900px;
}
*/
.slide.fadeInOut {
  webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  // z-index: 1;
  /*
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  */
}
.active {
  z-index: 1;
}
/*
@keyframes fadeInOut {
  from {z-index: 1; opacity: 0;};
  to {z-index: 5; opacity: 1};
}
@-webkit-keyframes fadeInOut {
  from {z-index: 1; opacity: 0;};
  to {z-index: 5; opacity: 1};
}
*/
.carousel .slide h1 {
  position: absolute;
  color: white;
}

.carousel .slide img {
  width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.arrow-left, .arrow-right {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}
.preventClick {
  pointer-events: none;
}
.arrows {
  border-top:3px solid #fff;
  border-right:3px solid #fff;
}
.arrow-left {
  left: 2%;
  top: 50%;
  transform: translate(0px,0px);
  transition: .5s ease-in-out;
  opacity: 0;
}

.arrow-right {
  right: 2%;
  top: 50%;
  transform: translate(0px,0px) ;
  transition: .5s ease-in-out;
  opacity: 0;
}

.carousel:hover .arrow-right {
  transform: translate(0,-50%) rotate(45deg);
  opacity: 1;
}
.carousel:hover .arrow-left {
  transform: translate(0,-50%) rotate(225deg);
  opacity: 1;
}
.indicators {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 9999;
}
.indicatorBullets li {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 1s ease;
}
.indicatorBullets li.active {
  background: white;
}
.indicatorBullets {
  -webkit-padding-start: 0px;
  position: relative;
  left: -50%;
}

